APP_URL=http://localhost:3333
NODE_ENV=development

# Auth

APP_SECRET=047259789f8bfe68338f68aeebffca82

# Database

DB_HOST=192.168.99.100
DB_USER=postgres
DB_PASS=docker
DB_NAME=meetapp

# Redis

REDIS_HOST=192.168.99.100
REDIS_PORT=6379

# Mail

MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=
MAIL_PASS=

# Sentry

SENTRY_DSN=
